In [16]:
import pandas as pd 
import csv 
import numpy as np

In [17]:
iris_filename="iris.data"
columns_name=dict()

In [83]:
with open(iris_filename, 'rt') as data_stream:
# 'rt' mode
    for n, row in enumerate(csv.DictReader(data_stream,fieldnames = ['sepal_length', 'sepal_width','petal_length', 'petal_width', 'target'],dialect='excel')):
        if n== 0:
            columns_name=row
        else:
            break

In [67]:
def batch_read(filename, batch=5):
# open the data stream
    with open(filename, 'rt') as data_stream:
# reset the batch
        batch_output = list()
# iterate over the file
        for n, row in enumerate(csv.reader(data_stream)):
# if the batch is of the right size
            if n > 0 :
# yield back the batch as an ndarray
                batch_output.append(row)
                yield(np.array(batch_output))
# reset the batch and restart
            batch_output = list()
# otherwise add the row to the batch
# batch_output.append(row)
# when the loop is over, yield what's

In [68]:
for batch_input in batch_read(iris_filename, batch=5):
    print (batch_input)
    break

[['4.9' '3.0' '1.4' '0.2' 'Iris-setosa']]

In [69]:
# def test_fn(filename,batch=5):
#     with open(filename,'rt') as stream_data:
#         batch_size=list()
#         counter=0
#         for n,row in enumerate(csv.reader(stream_data)):
#             print("line number===>",n,row)
#             if counter==5:
#                 break
#             counter+=1

In [70]:
# test_fn(iris_filename)

In [78]:
data_frame=pd.read_csv(iris_filename)
data_frame.head(5)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [84]:
res = dict((v,k) for k,v in columns_name.items())

In [87]:
data_frame.rename(columns = res, inplace = True)
print(columns_name)

{'sepal_length': '5.1', 'sepal_width': '3.5', 'petal_length': '1.4', 'petal_width': '0.2', 'target': 'Iris-setosa'}

In [88]:
data_frame.head(5)

   sepal_length  sepal_width  petal_length  petal_width       target
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [94]:
#gropby target
group_by=data_frame.groupby(['target']).mean()
group_by

                 sepal_length  sepal_width  petal_length  petal_width
target
Iris-setosa          5.004082     3.416327      1.465306     0.244898
Iris-versicolor      5.936000     2.770000      4.260000     1.326000
Iris-virginica       6.588000     2.974000      5.552000     2.026000

In [95]:
#gropby target
group_by=data_frame.groupby(['target']).var()
group_by

                 sepal_length  sepal_width  petal_length  petal_width
target
Iris-setosa          0.126650     0.148061      0.030646     0.011692
Iris-versicolor      0.266433     0.098469      0.220816     0.039106
Iris-virginica       0.404343     0.104004      0.304588     0.075433

In [96]:
data_frame.apply(np.count_nonzero, axis=1).head()

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [97]:
data_frame.apply(np.count_nonzero, axis=0).head()

sepal_length    149
sepal_width     149
petal_length    149
petal_width     149
target          149
dtype: int64

In [98]:
data_frame.applymap(lambda el:len(str(el))).head()

   sepal_length  sepal_width  petal_length  petal_width  target
0             3            3             3            3      11
1             3            3             3            3      11
2             3            3             3            3      11
3             3            3             3            3      11
4             3            3             3            3      11